mat-grid-list {
    // width: auto;
    // margin: 25px auto;
}

.view-wrapper {
    display: flex;
    justify-content: center;

}

.app-header {
    a.mat-button {
        margin-right: 15px;
    }
}